@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@font-face {
    font-family: cubao;
    src: url(cubao.otf);
}
@font-face {
    font-family: estructura;
    src: url(Estructura.ttf);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

li,
a,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #644337;
    text-decoration: none;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
    background-color: antiquewhite;
    position: sticky;
    z-index: 1;
    top: 0;

}

.logo {
    cursor: pointer;
    margin-left: 10px;
    margin-right: 9%;
    width: 140px;
    height: auto;


}

/* Navigation styles */
.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: white;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: brown;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}
button a{
    color: white;
}

button:hover {
    background-color: white;
    color: brown;
}
button a:hover{
    color: brown;
}

/* Home Section Styles */
.Home-section {
    background-color: 644337;
}

.slider-wrapper {
    position: relative;
    max-width: 100%;
    margin: auto;
    max-height: 50%;


}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75 hsla(0, 0%, 0%, 0.25);
    border-radius: o.5 rem;
    background-color: #644337;


}

.slider::-webkit-scrollbar {
    width: 0;
    /* Hide the scrollbar in WebKit (Chrome, Safari) */
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 2rem;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

/* Places Page Styles */
.places-page {
    background-color: #644337;
    padding-bottom: 20px;
    padding-top: 20px;
    
}

.Places-page {
    background-color: #644337;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #e9deca;
    font-size: 20px;

}

.places-title {
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.places-title-a {
    font-family: cubao;
    font-size: 70px;
    font-weight: lighter;
    text-align: center;
    color: #FFFFFF;
    margin-top: 35px;
}

.places-title-b {
    font-family: estructura;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    width: 50%;
    justify-content: center;
    color: #1E6533;
    background-color: #EBAF18;
    border: 1px solid #333;
    border-radius: 5px;
    border-color: black;
    border-width: 5px;
    padding: 10px;
}


.page_text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 100;
}


/* Card styles */
.card {
    width: 30%;
    max-height: fit-content;
    background: #49322A;
    border: 20px solid #49322A;
    border-radius: 10px;
    overflow: hidden;
    /* Ensure that the card container contains the image */
    position: relative;
    padding-bottom: 100px;

}

.card-title {
    width: 300px;
    height: fit-content;
    object-fit: fill;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Align items to the top of the container */
    align-self: center;
    /* Align the element itself to the top of the container */
    margin-top: -100px;
    /* Adjust the margin to fine-tune the position */

}
.Ctitle-block{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text-a {
   
    font-family: "Montserrat";
    font-size: 30px;
    /* Adjust font size */
    text-align: center;
    color: #1E6533;
    background-color: #EBAF18;


    border: 1px solid #333;
    /* Border style and width */
    border-radius: 10px;
    /* Control the roundness */
    border-color: #1E6533;


    padding: 1px;
    /* Add padding to separate text from the border */
}

.card-image {
    width: 90%;
    height: 250px;
    object-fit: cover;
    display: block;
    max-height: fit-content;
}


.card:hover {
    transform: scale(1.05);


}

#ch {
    display: none;
}

#ch:checked~.content {
    display: block;
}

#ch:checked~label {
    display: none;
}

.content {
    display: none;
}


#ch2 {
    display: none;
}

#ch2:checked~.content2 {
    display: block;
}

#ch2:checked~label {
    display: none;
}

.content2 {
    display: none;
}


#ch3 {
    display: none;
}

#ch3:checked~.content3 {
    display: block;
}

#ch3:checked~label {
    display: none;
}

.content3 {
    display: none;
}

#ch4 {
    display: none;
}

#ch4:checked~.content4 {
    display: block;
}

#ch4:checked~label {
    display: none;
}

.content4 {
    display: none;
}


#ch5 {
    display: none;
}

#ch5:checked~.content5 {
    display: block;
}

#ch5:checked~label {
    display: none;
}

.content5 {
    display: none;
}


#ch6 {
    display: none;
}

#ch6:checked~.content6 {
    display: block;
}

#ch6:checked~label {
    display: none;
}

.content6 {
    display: none;
}


.card2 {
    position: relative;
}

.card2 label {
    display: inline-block;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    color: white;
    background-color: #EB5A1C;
    padding: 5px 20px;
    border: 1px solid #333;
    border-radius: 10px;
    border-color: white;
    position: absolute;
    bottom: -80;
    /* Add 'px' after the value to specify pixels */
    left: 50%;
    transform: translateX(-50%);

}


.category {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 10px 7px 0;
}

.category:hover {
    cursor: pointer;
}


.heading,
.heading p,
.heading ul,
.heading li {
    font-family: "montserrat";
    font-size: 18px;
    font-weight: 600;
    padding: 2px;
    margin: 0;
    color: #F0F1F8;
}

.heading ul {
    list-style-type: none;
    padding: 0;
}

.heading li {
    margin-bottom: 5px;
}

.heading:hover {
    cursor: pointer;
}

.card-arat {
    position: absolute;
    /* Position the .card-arat absolutely within the .card */
    bottom: 0;
    /* Position it at the bottom of the .card */
    left: 50%;
    /* Center it horizontally within the .card */
    transform: translateX(-50%);
    /* Center it horizontally within the .card */
    margin-top: 20px;
    /* Adjust the margin to fine-tune the position */
}

.card-tara {
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    /* Adjust font size */
    text-align: center;
    color: white;
    background-color: #EB5A1C;

    padding: 5px 20px;
    border: 1px solid #333;
    /* Border style and width */
    border-radius: 10px;
    /* Control the roundness */
    border-color: white;

}



/* App Page Styles */
.App-page {
    background-color: white;
    flex-wrap: wrap;
    padding-top: 0px;
}

.app-page {
    background-color: white;

    display: flex;
    justify-content: center;
    padding-bottom: 20px;

    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 20px;

    flex-direction: row;
    /* Display children in a column layout */
    align-items: center;
    /* Center the items horizontally within the container */
    max-height: 650px;
    animation: fadeInUp 2s ease;
}

.app-left {
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    font-weight: 600;
    text-align: center;
    justify-self: auto;
    color: #FFFFFF;
    padding: 20px;
    width: 50%;
    height: fit-content;
}

.app-right {
    margin-right: 100px;
    font-family: montserrat;
    font-size: 23px;
    font-weight: 600;
    text-align: justify;
    color: #5F4E33;
    padding-top: 20px;
    width: 50%;
    justify-content:left;
    align-items: center;
    padding: 20px;

}
.app-right-lower{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 55px;
}

.download{
    width: 200px;
    height: 60px;

    border-width: 1px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    background-color:#5F4E33;

    display: flex;
    align-items: center;

    margin-left: 100px;
}

.store-img{
    width: 60px;
    height: 60px;
    vertical-align: middle;
}

.store-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.store-get{
    font-size: 15px;
    color :white;
    text-align: center;
}

.store-download{
    text-align: center;
    font-size: 15px;
    color :white;
}


.app-title {
    font-family: cubao;
    font-weight: lighter;
    font-size: 70px;
    font-weight: 600;
    text-align: center;
    color: #5F4E33;
    padding-top: 40px;
    padding-bottom: 0px;

    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: auto;
}

.slidera {
    display: flex;
    aspect-ratio: 9/16;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75 hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slidera::-webkit-scrollbar {
    width: 0;
    /* Hide the scrollbar in WebKit (Chrome, Safari) */
}

.slidera img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    background-color: transparent;
}

.slidera-nav {
    display: flex;
    column-gap: 2rem;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.slidera-wrapper {
    width: 450px;
    /* Occupy the full width of the left div */
    max-width: none;
    /* Remove the max-width */
    margin: auto;

}

.slidera-nav a:hover {
    opacity: 1;
}



/* About Page Styles */
.About-page {
    background-color: antiquewhite;
    animation: fadeInUp 2s ease;
}

.About {
    background-color: antiquewhite;
    overflow: hidden;
}

.about_title {
    font-family: cubao;
    font-weight: lighter;
    color: #5F4E33;
    font-size: 70px;
    text-align: center;
    margin-top: 35px;
    animation: fadeInUp 2s ease;
}

.about-container {
    font-family: "montserrat";
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}

.about-content {
    flex: 1;
    width: 600px;
    margin: 0px 25px;
    animation: fadeInUp 2s ease;
}

.about-content h2 {
    font-family: estructura;
    font-weight: 900;
    font-size: 35px;
    margin-bottom: 20px;
    color: #333;
}

.about-content h4 {
    font-size: 28px;

    color: #333;
}

.about-content p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #666;
}

.about-content button {
    display: inline-block;
    background-color: #5F4E33;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.about-content button :hover {
    background-color: antiquewhite;
    color: #5F4E33;
    transform: scale(1.1);

}

.pic-about {
    flex: 1;
    width: 600px;
    margin: auto;
    animation: fadeInRight 2s ease;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .about_title {
        font-size: 45px;
        margin-top: 30px;
    }

    .About {
        margin: 0px;
    }

    .about-container {
        width: 100%;
        flex-direction: column;
        margin: 0px;
        padding: 0px 40px;
    }

    .about-content {
        width: 100%;
        margin: 35px 0px;
    }

    .about-content h2 {
        font-size: 30px;
    }

    .about-content p {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .about-content button {
        font-size: 16px;
        padding: 8px 16px;
    }

    .pic-about {
        width: 100%;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px)
    }
}

.team {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #e9deca;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.team-content {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    gap: 2rem;
    text-align: center;
    margin-top: 4rem;
}

.team-content img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 15px;
}

.center-team h1 {
    margin-top: 35px;
    font-family: cubao;
    font-weight: lighter;

    color: #644337;
    font-size: 70px;
    text-align: center;
}

.box {
    padding: 16px;
    background: #644337;
    border-radius: 15px;
    transition: all 0.5s ease;
}

.box h3 {
    font-family: estructura;
    font-size: 23px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 8px;
}

.box h5 {
    font-family: montserrat;
    font-size: 15px;
    font-weight: 600;
    color: #e9deca;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.icons i {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    margin: 0 8px;
    transition: all .38s ease;
}

.icons i :hover {
    transform: scale(1.2);
}

.box:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

@media(max-width: 1240px) {
    .team {
        width: 100%;
        height: auto;
        padding: 90px, 2%;
    }

    .center-team h1 {
        font-size: 3.2rem;

    }
}


.container {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #ffebd6;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .content .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content .left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}

.content .left-side .details {
    margin: 14px;
    text-align: center;
}

.content .left-side .details i {
    font-size: 30px;
    color: #EB5A1C;
    margin-bottom: 10px;
}

.content .left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
    font-size: 14px;
    color: #afafb6;
}

.container .content .right-side {
    width: 75%;
    margin-left: 75px;
}

.content .right-side .topic-text {
    font-size: 23px;
    font-weight: 600;
    color: #F69223;
}

.right-side .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.right-side .message-box {
    min-height: 110px;
}

.right-side .input-box textarea {
    padding-top: 6px;
}

.right-side .button {
    display: inline-block;
    margin-top: 12px;
}

.right-side .button input[type="button"] {
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #F69223;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input[type="button"]:hover {
    background: #EB5A1C;
}

@media (max-width: 950px) {
    .container {
        width: 90%;
        padding: 30px 40px 40px 35px;
    }

    .container .content .right-side {
        width: 75%;
        margin-left: 55px;
    }
}

@media (max-width: 820px) {
    .container {
        margin: 40px 0;
        height: 100%;
    }

    .container .content {
        flex-direction: column-reverse;
    }

    .container .content .left-side {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .container .content .left-side::before {
        display: none;
    }

    .container .content .right-side {
        width: 100%;
        margin-left: 0;
    }
}

 .Jeepy-es-logo{
    padding: 0px;
     width: 650px;
     animation: fadeInUp 0.5s ease;
     min-width: auto;
     
 }
 .container-foot{
     max-width: 1750px;
     margin:auto;
     display: flex;
    justify-content: space-around;   
 }
 .row{
     display: flex;
     flex-wrap: wrap;

 }
 ul{
     list-style: none;
 }
 .footer{
     background-color: #775338;
     padding: 50px;
 }
 .footer-col{
    width: 25%;
    padding: 0 15px;
 }
 .footer-col h4{
     font-size: 18px;
     color: white;
     font-family: sans-serif;
     margin-bottom: 35px;
     font-weight: 500;
     position: relative;
 }
 .footer-col h4::before{
     content: '';
     position: absolute;
     left:0;
     bottom: -5px;
     background-color: #3A2922;
     height: 2px;
     box-sizing: border-box;
     width: 75px;
 }
 .footer-col ul li:not(:last-child){
     margin-bottom: 10px;
 }
 .footer-col ul li a{
     font-size: 16px;
     text-transform: capitalize;
     color: #ffffff;
     text-decoration: none;
     font-weight: 300;
     display: block;
     transition: all 0.3s ease;
 }
 .footer-col ul li a:hover{
     color: #f4d1a5;
     padding-left: 8px;
     margin-right: -8px;
 }

.social-links{
    display: flex;
}

 .footer-col .social-links a{
    height: 40px;
    width: 40px;
    background-color: #644337;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #f4d1a5;
    transition: all 0.5s ease;
 }
 .footer-col .social-links a:hover{
     color: #24262b;
     background-color: #ffffff;
 }
 .social-links a i {
    font-size: 20px;
 }

 .p.foot{
     transition: all 0.3s ease;
     font-weight: 300;
     font-family: sans-serif;
 
 }

 .Address{
    color: white;
    margin: 0;
 }
 
 /*responsive*/
 @media(max-width: 767px){
   .footer-col{
     width: 50%;
     margin-bottom: 30px;
 }
 }
 @media(max-width: 574px){
   .footer-col{
     width: 100%;
 }
 }